Funções de iteração

In [ ]:
# Enumerate

nomes = ['Fernando', 'Brunna', 'Yasmin', 'Leandro', 'Brenno', 'Letícia']

for n in range(len(nomes)):
    nome = nomes[n]
    print(nome)

Fernando
Brunna
Yasmin
Leandro
Brenno
Letícia

In [ ]:
for i, nome in enumerate(nomes):
    print(f'Índice {i} -> Nome {nome}')

Índice 0 -> Nome Fernando
Índice 1 -> Nome Brunna
Índice 2 -> Nome Yasmin
Índice 3 -> Nome Leandro
Índice 4 -> Nome Brenno
Índice 5 -> Nome Letícia

In [4]:
for i, nome in enumerate(nomes, 50): # É possível alterar o ínicio do índice
    print(f'Índice {i} -> Nome {nome}')

Índice 50 -> Nome Fernando
Índice 51 -> Nome Brunna
Índice 52 -> Nome Yasmin
Índice 53 -> Nome Leandro
Índice 54 -> Nome Brenno
Índice 55 -> Nome Letícia

In [ ]:
#Sorted

conjunto = {1, -1, 50, 25}
ordenados = sorted(conjunto)
ordenados

[-1, 1, 25, 50]

In [7]:
conjunto = {1, -1, 50, 25}
ordenados = sorted(conjunto, reverse=True) # Altera a ordem
ordenados

[50, 25, 1, -1]

In [ ]:
# Reversed

for i in reversed(range(10)): # range(9, -1, -1)
    print(i)

9
8
7
6
5
4
3
2
1
0

In [9]:
# Zip 

# nomes = ['Fernando', 'Brunna', 'Yasmin', 'Leandro', 'Brenno', 'Letícia']
idades = [20, 36, 8, 40, 2, 21]

for elemento in zip(nomes, idades):
    print(elemento)

('Fernando', 20)
('Brunna', 36)
('Yasmin', 8)
('Leandro', 40)
('Brenno', 2)
('Letícia', 21)

Desempacotando sequências

In [10]:
numeros = [1, 2, 3]
a, b, c = numeros

print(f'a: {a} / b: {b} / c: {c}')

a: 1 / b: 2 / c: 3

In [11]:
chaves = {
    'chave 1': 'valor 1',
    'chave 2': 'valor 2',
    'chave 3': 'valor 3',
}

for chave, valor in chaves.items():
    print(chave, valor)

chave 1 valor 1
chave 2 valor 2
chave 3 valor 3

In [12]:
for elemento in  enumerate(zip(nomes, idades)):
    print(elemento)

(0, ('Fernando', 20))
(1, ('Brunna', 36))
(2, ('Yasmin', 8))
(3, ('Leandro', 40))
(4, ('Brenno', 2))
(5, ('Letícia', 21))

In [14]:
for i, (nome, idade) in enumerate(zip(nomes, idades)):
    print(f'{i} -> {nome}, {idade}')

0 -> Fernando, 20
1 -> Brunna, 36
2 -> Yasmin, 8
3 -> Leandro, 40
4 -> Brenno, 2
5 -> Letícia, 21

In [18]:
lista = [1, 2, 3, 4, 5]
primeiro, *meio, ultimo = lista

print(primeiro)
print(meio)
print(ultimo)

1
[2, 3, 4]
5

In [21]:
primeiro, *resto = lista
print(primeiro)
print(resto)

1
[2, 3, 4, 5]

Iteração avançada com itertools

In [22]:
import itertools

In [ ]:
# itertools.chain

seq1 = (1, 2, 3)
seq2 = ['a', 'b', 'c']
for elemento in itertools.chain(seq1, seq2):
    print(elemento)

1
2
3
a
b
c

In [27]:
# itertools.zip_longest

nomes = ['Fernando', 'Brunna', 'Yasmin']
idades = [20, 36, 8]
cpfs = ['fff', 'bbb']

for elemento in itertools.zip_longest(nomes, idades, cpfs, fillvalue='Vazio'): # fillvalue='' define o valor para substituir o elemento vazio
    print(elemento)

('Fernando', 20, 'fff')
('Brunna', 36, 'bbb')
('Yasmin', 8, 'Vazio')

In [28]:
# iterpools.product

comidas = ['Arroz', 'Feijão', 'Carne']
bebidas = ('Água', 'Itubaina')

for prato in itertools.product(comidas, bebidas):
    print(prato)

('Arroz', 'Água')
('Arroz', 'Itubaina')
('Feijão', 'Água')
('Feijão', 'Itubaina')
('Carne', 'Água')
('Carne', 'Itubaina')

In [30]:
# iterpools.combinations

alunos = ['Julio' , 'Pedro', 'Jorge', 'Melissa', 'Paula']

for dupla in itertools.combinations(alunos, 2):
    print(dupla)

('Julio', 'Pedro')
('Julio', 'Jorge')
('Julio', 'Melissa')
('Julio', 'Paula')
('Pedro', 'Jorge')
('Pedro', 'Melissa')
('Pedro', 'Paula')
('Jorge', 'Melissa')
('Jorge', 'Paula')
('Melissa', 'Paula')

In [31]:
# iterpools.permutations

for dupla in itertools.permutations(alunos, 2):
    print(dupla)

('Julio', 'Pedro')
('Julio', 'Jorge')
('Julio', 'Melissa')
('Julio', 'Paula')
('Pedro', 'Julio')
('Pedro', 'Jorge')
('Pedro', 'Melissa')
('Pedro', 'Paula')
('Jorge', 'Julio')
('Jorge', 'Pedro')
('Jorge', 'Melissa')
('Jorge', 'Paula')
('Melissa', 'Julio')
('Melissa', 'Pedro')
('Melissa', 'Jorge')
('Melissa', 'Paula')
('Paula', 'Julio')
('Paula', 'Pedro')
('Paula', 'Jorge')
('Paula', 'Melissa')

In [33]:
# itertools. cycle

alunos = ['Julio' , 'Pedro', 'Jorge', 'Melissa', 'Paula']
equipes = ['E1', 'E2']

for aluno, equipe in zip(alunos, itertools.cycle(equipes)):
    print(aluno, equipe)

Julio E1
Pedro E2
Jorge E1
Melissa E2
Paula E1